<!--
	REMEMBER:
	Don't use IDs in css selectors for templates!
	IDs are stripped from templates!
-->

<div class="mast-template-exampleTree mast-tree {% if (highlighted) { %} highlighted {% } %}">
	<span>{{-title}} | {{-value}} </span>
	{% if (allowEdit) { %}<a class="doUpdate" style="cursor:pointer;"></a> {% } %}
	<a class="doDelete" style="cursor:pointer;">x</a>
	<a class="addButton" style="cursor:pointer;">+</a>
	<br/><br/>
	<div class="branchOutlet"></div>
</div>