<div class='mast-template-simpler-tree'>
	<h1>{{name}}</h1>
	<a class="doDelete" style="cursor:pointer;">x</a>
	<a class="addButton" style="cursor:pointer;">+</a>
	<div class='tree-outlet'></div>
</div>

<style>
.tree-outlet {
	
	border: 5px solid red;
}
</style>