<div class="template-tabbed-area2">
  <a class="parrots tab"> Parrots </a>
  <a class=" cardinals tab"> Cardinals </a>
  <div class="region-content"></div>
</div>

<div class='template-parrots-component'>Polly!</div>

<div class='template-cardinals-component'>Squeak!</div>

<style type="text/css">
  .template-tabbed-area2 {
	clear:both;
	background: #242;
	color: white;
	padding: 1em;
  }
  .template-tabbed-area2 .tab {
	cursor: pointer;
  }
  .template-tabbed-area2 .tab.selected {
	background:#fad;
	color:black;
  }
</style>