<h1>It works!</h1>

<p>You've successfully installed the Sails Framework.</p>

<p>Sails is an MVC framework for the Node.js platform.  It helps you build apps fast.</p>

<h2>Demo</h2>
<a href="experiment/index">View Demo</a>

<br/><br/><br/><br/><br/><br/><br/>

