<div class="template-tabbed-area">
  <a class="cats tab"> Cats </a>
  <a class=" dogs tab"> Dogs </a>
  <div class="region-content"></div>
</div>

<div class='template-cats-component'>Meow</div>

<div class='template-dogs-component'>Woof</div>

<style type="text/css">
  .template-tabbed-area {
	clear:both;
	background: #227;
	color: white;
	padding: 1em;
  }
  .template-tabbed-area .tab {
	cursor: pointer;
  }
  .template-tabbed-area .tab.selected {
	background:#253;
  }
</style>