<!--
	REMEMBER:
	Don't use IDs in css selectors for templates!
	IDs are stripped from templates!
-->

<div class="testtable" id="mast-template-testtable">
	<!-- Only display vote buttons if an item is selected -->
	<a class="button voteDown" style="cursor:pointer; {% if (!selected) { %} display: none; {% } %}">\/</a>
	<a class="button voteUp" style="cursor:pointer; {% if (!selected) { %} display: none; {% } %}">/\</a>
	<a class="button addRow">+ Add row</a>
	<input type="text" class="searchbox" placeholder="Search"/>
	<div class="clear"></div>
	<ul class="row-outlet"></ul>
</div>


<div class="empty" id="mast-template-testtable-empty">
	<span>Nothing to see here...</span>
</div>


<li class="row {% if (highlighted) { %} highlighted {% } %}" id="mast-template-testtable-row">
	<span>{{-title}} </span>
	<a class="button doDelete" style="cursor:pointer;">x</a>
	<a class="button votes">{{- votes}}</a>
	<a class="doUpdate" style="cursor:pointer;"></a>
</li>